.App-inputs button {
  width: 260px;
  height: 35px;
  margin: 40px auto;
  display: block;
  font-size: 25px;
}

.App-list {
  list-style-type: none;
  text-align: center;
  padding: 0 50px;
}

.App-list li {
  border: 1px solid #ddd;
}

.App-list img {
  width: 80px;
  height: 160px;
  margin: 25px auto;
  display: block;
}
